# printer.cfg

##################################################################
# Hardware Configuration
# Note: Some values are mirrored in macros/_variables.cfg
# If you change dimensions or positions here, update _variables.cfg too:
#   position_max stepper_x/y/z  → bed_x/y/z_max
#   home_xy_position            → bed_x/y_center
#   zero_reference_position     → bed_x/y_center
#   probe_points                → bed_x/y_center
#   z_hop (safe_z_home)         → park_z_hop
##################################################################

[constants]
# Motors
motor_xy:               moons-ms17hd6p420I-04
motor_z:                moons-le172s-t0804-300-cn-01-200

# TMC
run_current_xy:         1.25
run_current_z:          0.6
sense_resistor:         0.110

# Kinematics XY
microsteps_xy:          16
rotation_distance_xy:   40

# Kinematics Z
microsteps_z:           32
rotation_distance_z:    4

# Bed center ↔ _variables.cfg: bed_x/y_center, safe_z_home z_hop ↔ _variables.cfg: park_z_hop
bed_center_x:           148
bed_center_y:           150

# Enable arc support (OrcaSlicer)
[gcode_arcs]
resolution: 0.1

#####################################################################
# Includes
#####################################################################

[include macros/_variables.cfg]
[include KAMP_Settings.cfg]
[include mainsail.cfg]
[include klippain-shaketune.cfg]

# Components
[include components/fans.cfg]
[include components/sensors.cfg]
[include components/probe.cfg]
[include components/case_lights.cfg]
[include components/stealthburner_leds.cfg]
[include components/disco_on_a_stick.cfg]

# Macros
[include macros/misc.cfg]
[include macros/lighting_control.cfg]
[include macros/speed_test.cfg]
[include macros/park.cfg]
[include macros/clean_nozzle.cfg]
[include macros/filament.cfg]
[include macros/pause_resume.cfg]
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/klipper_backup.cfg]


#####################################################################
# MCU
#####################################################################

[mcu]
canbus_uuid: 9840783ba80b

[mcu EBBCan]
canbus_uuid: 4b6ed847da46

#####################################################################
# Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 30000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
# TMC AutoTune
#####################################################################

[autotune_tmc stepper_x]
motor: ${constants.motor_xy}
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc stepper_y]
motor: ${constants.motor_xy}
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc stepper_z]
motor: ${constants.motor_z}
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc stepper_z1]
motor: ${constants.motor_z}
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc stepper_z2]
motor: ${constants.motor_z}
tuning_goal: auto
extra_hysteresis: 1


#####################################################################
# X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: ${constants.microsteps_xy}
rotation_distance: ${constants.rotation_distance_xy}
full_steps_per_rotation: 200
endstop_pin: ^EBBCan:gpio24
position_min: 0
position_endstop: 296
position_max: 296                   # → _VARIABLES: bed_x_max
homing_speed: 100
homing_retract_dist: 0 #5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: true
run_current: ${constants.run_current_xy}
# home_current: 0.5
sense_resistor: ${constants.sense_resistor}

[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: ${constants.microsteps_xy}
rotation_distance: ${constants.rotation_distance_xy}
full_steps_per_rotation: 200
endstop_pin: ^PF3
position_min: 0
position_endstop: 300
position_max: 300                   # → _VARIABLES: bed_y_max
homing_speed: 100
homing_retract_dist: 0 #5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: true
run_current: ${constants.run_current_xy}
# home_current: 0.5
sense_resistor: ${constants.sense_resistor}

#####################################################################
# Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: ${constants.rotation_distance_z}
microsteps: ${constants.microsteps_z}
endstop_pin: probe:z_virtual_endstop
position_max: 250                   # → _VARIABLES: bed_z_max
position_min: -2.5
homing_speed: 20.0 #10.0
second_homing_speed: 5 #3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: ${constants.run_current_z}
sense_resistor: ${constants.sense_resistor}

[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
rotation_distance: ${constants.rotation_distance_z}
microsteps: ${constants.microsteps_z}

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: ${constants.run_current_z}
sense_resistor: ${constants.sense_resistor}

[stepper_z2]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: ${constants.rotation_distance_z}
microsteps: ${constants.microsteps_z}

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: true
run_current: ${constants.run_current_z}
sense_resistor: ${constants.sense_resistor}

#####################################################################
# Extruder
#####################################################################

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 23.0515
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio27
min_temp: 0
max_temp: 320
max_extrude_only_distance: 105
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
interpolate: true
run_current: 0.65
sense_resistor: ${constants.sense_resistor}

#####################################################################
# Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 115

#####################################################################
# Homing and Gantry Adjustment
#####################################################################

[idle_timeout]
timeout: 3300

[safe_z_home]
home_xy_position: ${constants.bed_center_x}, ${constants.bed_center_y}  # → _VARIABLES: bed_x/y_center
speed: 100
z_hop: 10                           # → _VARIABLES: park_z_hop

# Du führst `Z_TILT_CALIBRATE` einmalig aus, die Werte werden in die Config geschrieben,
# und danach profitiert jeder `Z_TILT_ADJUST` automatisch davon.
[z_tilt_ng]
adaptive_horizontal_move_z: True
z_positions:
    -50, 18
    150, 348
    350, 18
points:
    30, 5
    150, 245
    270, 5
extra_points:
    30, 125
    150, 125
    270, 125
    100, 245
    200, 245
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
# min_horizontal_move_z: 2


[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 40, 40
mesh_max: 260, 260
zero_reference_position: ${constants.bed_center_x}, ${constants.bed_center_y}  # → _VARIABLES: bed_x/y_center
fade_start: 0.6
fade_end: 10.0
probe_count: 5, 5
algorithm: bicubic

#####################################################################
# Input Shaper / ADXL
#####################################################################

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: ${constants.bed_center_x}, ${constants.bed_center_y}, 50  # → _VARIABLES: bed_x/y_center
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 54.6
damping_ratio_x: 0.082
shaper_type_y: ei
shaper_freq_y: 49.0
damping_ratio_y: 0.085

#####################################################################
# Board Pins (EXP1 / EXP2)
#####################################################################

[board_pins]
aliases:
    EXP1_1=PE7,  EXP1_2=PG1,
    EXP1_3=PG0,  EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,
    EXP2_7=PE8,  EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.824
#*# pid_ki = 3.059
#*# pid_kd = 273.220
#*#
#*# [probe]
#*# z_offset = -0.623
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.462
#*# pid_ki = 9.634
#*# pid_kd = 42.484
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.080065, 0.066940, 0.050065, 0.040690, 0.003190
#*# 	0.159440, 0.101940, 0.041940, -0.011185, -0.039310
#*# 	0.175690, 0.085065, -0.003685, -0.057435, -0.105560
#*# 	0.216940, 0.109440, 0.009440, -0.078685, -0.180560
#*# 	0.225065, 0.146315, -0.004935, -0.116810, -0.229310
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 66.00059999999999
#*# max_x = 233.9606
#*# min_y = 44.9997
#*# max_y = 254.9997
#*#
#*# [z_tilt_ng]
#*# z_offsets = -0.075636, -0.009803, 0.082072
