[respond]
[include chopper_tune.cfg]
# OrcaSlicer
# Enable object exclusion
[exclude_object]
# Enable arcs support
[gcode_arcs]
resolution: 0.1

[include mainsail.cfg]
[include klippain-shaketune.cfg]
[include macros/speed_test.cfg]
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/clean_nozzle.cfg]
[include macros/park.cfg]

[include components/case_lights.cfg]

[mcu]
canbus_uuid: 9840783ba80b						# Insert the CANbus-UUID of your Manta from the firmware flashing steps

[mcu EBBCan]
canbus_uuid: 4b6ed847da46						# Insert the CANbus-UUID of your SB2209 RP2040 from the firmware flashing steps

[printer]
kinematics: corexy
max_velocity: 700  
max_accel: 20000 #25000 #mit 700mm/s #10000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor Microcontroller Unit]
sensor_type: temperature_mcu

[temperature_sensor System on a Chip]
sensor_type: temperature_host

[temperature_sensor Chamber]
sensor_type:  Generic 3950
sensor_pin:   PC4

[temperature_sensor StealthBurner]
# sensor_type: MAX31865
# sensor_pin: EBBCan:gpio9
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

## TMC AutoTune
[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
tuning_goal: auto
extra_hysteresis: 1
[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc stepper_z]
motor: moons-le172s-t0804-300-cn-01-200
tuning_goal: auto
extra_hysteresis: 1
[autotune_tmc stepper_z1]
motor: moons-le172s-t0804-300-cn-01-200
tuning_goal: auto
extra_hysteresis: 1
[autotune_tmc stepper_z2]
motor: moons-le172s-t0804-300-cn-01-200
tuning_goal: auto
extra_hysteresis: 1

[autotune_tmc extruder]
motor:  moons-cse14hra1l410a
tuning_goal: auto
extra_hysteresis: 1

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^EBBCan:gpio24
position_min: 0
##--------------------------------------------------------------------
##	Uncomment for 300mm build
position_endstop: 296
position_max: 296
##--------------------------------------------------------------------
homing_speed: 100 #25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 1.0 # max: 2.0
# sense_resistor: 0.110
# stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PF3
position_min: 0
##--------------------------------------------------------------------
position_endstop: 300
position_max: 300
##--------------------------------------------------------------------
homing_speed: 100 #25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 1.0 # max: 2.0
# sense_resistor: 0.110
# stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2.5
homing_speed: 10.0 #8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.6
# sense_resistor: 0.110
# stealthchop_threshold: 0

##	Z1 Stepper - Rear  on Motor5
[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: 0.6
# sense_resistor: 0.110
# stealthchop_threshold: 0

##	Z2 Stepper - Front Right on Motor6
[stepper_z2]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: true
run_current: 0.6
# sense_resistor: 0.110
# stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

#	E0 on SB2209
[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 23.0515 # 22.905740611
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
min_temp: 0
max_extrude_only_distance: 105
max_extrude_cross_section: 2
#control: pid
#pid_kp: 57.369
#pid_ki: 2.533
#pid_kd: 324.854

sensor_type: Generic 3950 #Generic 3950 #ATC Semitec 104NT-4-R025H42G #EPCOS 100K B57560G104F
sensor_pin: EBBCan:gpio27
# sensor_type: MAX31865
# sensor_pin: EBBCan:gpio9
# spi_software_sclk_pin: EBBCan:gpio10
# spi_software_mosi_pin: EBBCan:gpio8
# spi_software_miso_pin: EBBCan:gpio11
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

min_temp: 0
max_temp: 320
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
interpolate: true
run_current: 0.65
# stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 115
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: -0.730
lift_speed: 30
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
# 	Fan Control
#####################################################################
[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
kick_start_time: 0.5
heater_temp: 40.0
max_power: 1.0

[fan_generic nevermore]
##	Print Cooling Fan - CNC_FAN0
pin: PF7
kick_start_time: 0.5
shutdown_speed: 0.0
max_power: 1.0

[fan_generic exhaust_fan]
#	Exhaust fan - CNC_FAN0
pin: PF9
kick_start_time: 0.5
shutdown_speed: 0.0
max_power: 1.0

[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PA6
heater: extruder
kick_start_time: 0.5
heater_temp: 80
fan_speed: 1.0

[heater_fan stepper_driver_fan]
pin: PA4
heater: extruder
kick_start_time: 0.5
heater_temp: 80
fan_speed: 1.0

## Part cooling fans

[fan_generic part_cooling] # fan 0 OrcaSlicer
##	Part Cooling Fan - CNC_FAN0
pin: EBBCan:gpio13
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.05
max_power: 1.0

[fan_generic auxiliary] # fan 2 OrcaSlicer
pin: PA2
kick_start_time: 0.5
max_power: 1.0
shutdown_speed: 0.0

[gcode_macro M106]
description: "Set fan speed (Orca compatible)"
gcode:
    {% set fan_map = {
        0: "part_cooling",      # Orca P0 → CPAP blower
        # 3: "EXHAUST",   # Orca P3 → Exhaust
        2: "auxiliary",     # Uncomment if you define AUX
    } %}
    {% set p = params.P|int if 'P' in params else 0 %}
    {% set fan = fan_map[p] if p in fan_map else fan_map[0] %}
    {% set speed = (params.S|float / 255 if 'S' in params else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
description: "Turn off fans. No P = all, P# = specific"
gcode:
    {% set fan_map = {
        0: "part_cooling",      # Orca P0 → CPAP blower
        # 3: "EXHAUST",   # Orca P3 → Exhaust
        2: "auxiliary",     # Uncomment if you define AUX
    } %}
    {% if 'P' in params %}
        {% set p = params.P|int %}
        {% if p in fan_map %}
            SET_FAN_SPEED FAN={fan_map[p]} SPEED=0
        # {% else %}
        #     RESPOND PREFIX="warn" MSG="Unknown fan index P{{p}}"
        {% endif %}
    {% else %}
        # No P -> turn off all mapped fans
        {% for f in fan_map.values() %}
            SET_FAN_SPEED FAN={f} SPEED=0
        {% endfor %}
    {% endif %}

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3300

[safe_z_home]
##--------------------------------------------------------------------
home_xy_position: 148,150
##--------------------------------------------------------------------
speed: 100
z_hop: 10

[z_tilt]

##--------------------------------------------------------------------
## Uncomment below for 300mm build
z_positions:
  -50, 18
  150, 348
  350, 18
points:
  30, 5
  150, 245
  270, 5
##--------------------------------------------------------------------

speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075


# [bed_mesh]
# mesh_min: 10,10
# ##--------------------------------------------------------------------
# ##	Uncomment below for 300mm build
# mesh_max: 290,290
# ##--------------------------------------------------------------------
[bed_mesh]
speed: 300
horizontal_move_z: 5
##--------------------------------------------------------------------
#	Uncomment for 300mm build
mesh_min: 40, 40
mesh_max: 260,260
zero_reference_position: 148,150 #for use with stock z endstop
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 148, 150, 50			# Set to the middle of your bed
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

[input_shaper]
shaper_type_x: mzv # filter type for the X axis
shaper_freq_x: 51.6 # center frequency for the X axis filter
damping_ratio_x: 0.079 # damping ratio for the X axis

shaper_type_y: 2hump_ei # filter type for the Y axis
shaper_freq_y: 64.0 # center frequency for the Y axis filter
damping_ratio_y: 0.078 # damping ratio for the Y axis

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.824
#*# pid_ki = 3.059
#*# pid_kd = 273.220
#*#
#*# [probe]
#*# z_offset = -0.636
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.462
#*# pid_ki = 9.634
#*# pid_kd = 42.484
