# Inspired by https://github.com/VoronDesign/VoronUsers/blob/master/orphaned_mods/printer_mods/edwardyeeks/Decontaminator_Purge_Bucket_%26_Nozzle_Scrubber/Macros/nozzle_scrub.cfg
#######################################################################################################################################

# The goal of this macro is to provide a nozzle cleaning and purging routine that is easily copied/referenced into your printer.cfg.
# Users can simply change parameters and enable/disable options in the first half. Descriptions are plentiful, making this macro
# look huge but informative and are laid out in sequence to be read first describing the line below; PLEASE READ CAREFULLY.

# This sample config assumes the following: The user has implemented the default decontaminator purge bucket & nozzle cleaner mod
# for the VORON 1/2. It can be tweaked to customised purge bucket geometries.

# Features in this macro: option of putting the bucket at the rear or front of the bed. Purge routine that can be enabled/disabled.
# By default, bucket is located at rear left of bed and purge routine is enabled. The purge and scrubbing routine is randomized
# in either left or right bucket to ensure as even as possible distribution of filament gunk.

# Default parameters are set for safe speeds and movements. Where necessay_max, tweak the parameters for the nozzle scrub procedure 
# to fit your printer.

#######################################################################################################################################

# [gcode_macro CLEAN_NOZZLE_FAN_ON]
# gcode: 
#   M106 S255

# [gcode_macro CLEAN_NOZZLE_FAN_OFF]
# gcode: 
#   M107
  
[gcode_macro clean_nozzle]
# Name of the macro is clean_nozzle.

# These parameters define your filament purging. The retract variable is used to retract right after purging to prevent unnecessay_max
# oozing. Some filament are particularly oozy and may continue to ooze out of the nozzle for a second or two after retracting. The
# ooze dwell variable makes allowance for this. Update as necessay_max. If you decided to not enable purge, you can ignore this section.
variable_ooze_dwell:         2500          ; mili seconds
variable_purge_spd:            11          ; Speed, in mm/s, of the purge.
variable_purge_temp_min:      190          ; Minimum nozzle temperature to permit a purge. Otherwise, purge will not occur.
variable_purge_ret:             5          ; Retract length, in mm, after purging to prevent slight oozing. Adjust as necessay_max.

# These parameters define your cleaning, travel speeds, safe z clearance and how many times you want to wipe. Update as necessay_max.
variable_clearance_z:           0          ; When traveling, but not cleaning, the clearance along the z-axis between nozzle and tube.
variable_wipe_qty:              1          ; Number of complete (A complete wipe: left, right, left OR right, left, right) wipes.
variable_prep_spd_xy:         400          ; Travel (not cleaning) speed along x and y-axis in mm/s.
variable_prep_accel_xy:      7000          ; Travel acceleration (not cleaning) speed along x and y-axis.
variable_prep_spd_z:           20          ; Travel (not cleaning) speed along z axis in mm/s.
variable_wipe_spd_xy:         150          ; Nozzle wipe speed in mm/s.

# Brush position
variable_left_of_brush_x:       6          # X position left of brush
variable_nozzle_brush_y:      307          # Y position for passing through the brush (I make it pass right in the middle of the brushes, not on the midle of the brush itself)
variable_right_of_brush_x:     54          # X position right of brush 

###############################################################################################################################################

# Placeholder. The variable will later be set to contain, at random, a number representing the left or right bucket.
variable_bucket_pos:            0

gcode:
  
  # Temperature in °C at which the filament is extruded/purged. Should be the print temperature. If no temperature or below 200 °C is
  # specified, no purging will happen.
  {% set purge_len = params.PURGE|default(0)|int %}
  # Temperature in °C below which the nozzle is whiped over the tube. If no termperature is defined, the cleaning will happen without
  # waiting to reach any particular temperature.
  {% set clean_temp = params.CLEAN|default(0)|int  %}
  {% set purge_temp = printer.extruder.temperature %}
  {% if clean_temp > 0 %}
        {% set purge_temp = clean_temp %}
  {% endif %}
 

  {% set old_accel = printer.toolhead.max_accel|float %}
  
  # First, check if the axes are homed.
  {% if "xyz" in printer.toolhead.homed_axes %}

    # Save the gcode state in this macro instance.
    SAVE_GCODE_STATE NAME=clean_nozzle
    SET_VELOCITY_LIMIT ACCEL={prep_accel_xy}
    
    SET_DISPLAY_TEXT MSG="Cleaning nozzle"          ; Displays info
  
    # Grab max position of Y-axis from config to use in setting a fixed y position.
    {% set y_max = printer.configfile.config["stepper_y"]["position_max"]|float%}
      
    # Raise Z for travel.
    # Relative positioning
    G91
    G1 Z{clearance_z} F{prep_spd_z * 60}
    
    # Set to absolute positioning.
    G90 

    # Position for purge.
    {% if printer.toolhead.position.y >= 293 and (printer.toolhead.position.x < (left_of_brush_x - 1) or printer.toolhead.position.x > (left_of_brush_x + 1) ) %}
      G0 Y{y_max - 14} F{prep_spd_xy * 60}
      G0 X{left_of_brush_x}
      G0 Y{y_max}
    {% elif printer.toolhead.position.y != nozzle_brush_y and (printer.toolhead.position.x < (left_of_brush_x - 1) or printer.toolhead.position.x > (left_of_brush_x + 1) ) %}
      G0 X{left_of_brush_x} Y{y_max - 14}  F{prep_spd_xy * 60}
      G0 Y{y_max}
    {% endif %} 

    # Purge filament if temp above 150 °C is specified
    {% if (purge_temp > purge_temp_min) and (purge_len > 0) %}
      {% set clean_temp = purge_temp %}
        M107                                          ; Turns off partcooling fan
        STATUS_HEATING                                ; Sets SB-leds to heating-mode   
        M104 S{purge_temp}                            ; Heats the nozzle to printing temp
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={purge_temp}
        STATUS_PRINTING
      M83        ; relative mode
      M106 S255  ; use part cooling to harden the material
      G1 E{purge_len} F{purge_spd * 60 }
      G1 E-{purge_ret} F{purge_spd * 60 * 5}
      G92 E0     ; reset extruder
    {% endif %}
  
    # Wait till hotend is below given temperature if provided
    {% if clean_temp > 0 %}
      # Cooling nozzle to a given temperature. This helps with cleanly breaking off extruded filament
      SET_DISPLAY_TEXT MSG="Hotend: {clean_temp}c"  ; Displays info
      M104 S{clean_temp}                            ; Heats the nozzle to 150c without waiting
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={clean_temp}
      G4 P{ooze_dwell}  # Dwell                                        
    {% endif %}

    {% if (purge_len == 0) %}
      M106 S255  ; use part cooling to harden the material                                       
    {% endif %}
    # Perform wipe. 
    {% for wipes in range(1, (wipe_qty + 1)) %}
       G1 X{right_of_brush_x} Y{nozzle_brush_y} F{wipe_spd_xy * 60}
       G1 X{left_of_brush_x} F{wipe_spd_xy * 60}
       G1 X{right_of_brush_x} F{wipe_spd_xy * 60}
    {% endfor %}

    M107  ; turn part cooling off
    
    SET_DISPLAY_TEXT MSG="Nozzle cleaned"

    SET_VELOCITY_LIMIT ACCEL={old_accel}
    # Restore the gcode state to how it was before the macro.
    RESTORE_GCODE_STATE NAME=clean_nozzle

       
  {% else %}

    # raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
    { action_raise_error("Please home your axes!") }
    SET_DISPLAY_TEXT MSG="Please home first!"

  {% endif %}
