# https://www.printables.com/model/957985-voron-24-bamboo-a1-brush-bucket
# Inspired by https://github.com/VoronDesign/VoronUsers/blob/master/orphaned_mods/printer_mods/edwardyeeks/Decontaminator_Purge_Bucket_%26_Nozzle_Scrubber/Macros/nozzle_scrub.cfg

[gcode_macro CLEAN_NOZZLE]
variable_ooze_dwell:        2500    # ms - Dwell after cooling to break off filament
variable_purge_spd:           11    # mm/s - Purge speed
variable_purge_temp_min:     190    # °C - Minimum temp to allow purge
variable_purge_ret:            5    # mm - Retract after purge
variable_left_of_brush_x:    42    # X position left of brush
variable_right_of_brush_x:   90    # X position right of brush
variable_wipe_qty:             5    # Number of full wipes
variable_bucket_pos:           0    # Placeholder

gcode:
    {% set speeds = printer["gcode_macro _SPEEDS"] %}
    {% set nozzle_brush_y = printer.toolhead.axis_maximum.y|float %}
    {% set purge_len = params.PURGE|default(0)|int %}
    {% set clean_temp = params.CLEAN|default(0)|int %}
    {% set purge_temp = printer.extruder.temperature %}
    {% if clean_temp > 0 %}
        {% set purge_temp = clean_temp %}
    {% endif %}

    {% set old_accel = printer.toolhead.max_accel|float %}

    {% if "xyz" in printer.toolhead.homed_axes %}

        SAVE_GCODE_STATE NAME=clean_nozzle
        SET_VELOCITY_LIMIT ACCEL={speeds.accel_wipe}

        SET_DISPLAY_TEXT MSG="Cleaning nozzle"

        {% set y_max = printer.configfile.config["stepper_y"]["position_max"]|float %}

        # Raise Z for travel
        G91
        G1 Z0 F{speeds.travel_z * 60}                          # clearance_z ist 0, bleibt flexibel
        G90

        # Navigate to brush position safely
        {% if printer.toolhead.position.y >= 293 and (printer.toolhead.position.x < (left_of_brush_x - 1) or printer.toolhead.position.x > (left_of_brush_x + 1)) %}
            G0 Y{y_max - 14} F{speeds.travel_xy * 60}
            G0 X{left_of_brush_x}
            G0 Y{y_max}
        {% elif printer.toolhead.position.y != nozzle_brush_y and (printer.toolhead.position.x < (left_of_brush_x - 1) or printer.toolhead.position.x > (left_of_brush_x + 1)) %}
            G0 X{left_of_brush_x} Y{y_max - 14} F{speeds.travel_xy * 60}
            G0 Y{y_max}
        {% endif %}

        # Purge if temp is sufficient and purge length > 0
        {% if (purge_temp > purge_temp_min) and (purge_len > 0) %}
            {% set clean_temp = purge_temp %}
            M107                                                # Turn off part cooling fan
            STATUS_HEATING_NOZZLE
            M104 S{purge_temp}
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={purge_temp}
            STATUS_CLEANING
            M83
            M106 S255                                           # Part cooling on to harden filament
            G1 E{purge_len} F{purge_spd * 60}
            G1 E-{purge_ret} F{purge_spd * 60 * 5}
            G92 E0
        {% endif %}

        # Wait for nozzle to cool to clean_temp if specified
        {% if clean_temp > 0 %}
            SET_DISPLAY_TEXT MSG="Hotend: {clean_temp}c"
            M104 S{clean_temp}
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={clean_temp}
            G4 P{ooze_dwell}
        {% endif %}

        {% if purge_len == 0 %}
            M106 S255                                           # Part cooling on to harden filament
        {% endif %}

        # Perform wipes
        {% for wipes in range(1, (wipe_qty + 1)) %}
            G1 X{right_of_brush_x} Y{nozzle_brush_y} F{speeds.wipe * 60}
            G1 X{left_of_brush_x} F{speeds.wipe * 60}
            G1 X{right_of_brush_x} F{speeds.wipe * 60}
        {% endfor %}

        M107                                                    # Turn off part cooling fan

        SET_DISPLAY_TEXT MSG="Nozzle cleaned"
        SET_VELOCITY_LIMIT ACCEL={old_accel}
        RESTORE_GCODE_STATE NAME=clean_nozzle

    {% else %}
        { action_raise_error("Please home your axes!") }
        SET_DISPLAY_TEXT MSG="Please home first!"
    {% endif %}