################
## LED Macros ##
################

# Control SB LEDs
[gcode_macro set_logo_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

[gcode_macro set_logo_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

# General printer state
[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_busy
    SET_LED_EFFECT EFFECT=sb_nozzle_busy
    SET_LED_EFFECT EFFECT=disco_busy

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_ready
    SET_LED_EFFECT EFFECT=disco_ready

[gcode_macro status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_ready                                          # Regenbogen Logo
    SET_LED_EFFECT EFFECT=disco_ready                                       # Regenbogen Disco
    SET_LED_EFFECT EFFECT=sb_nozzle_part_ready                              # Regenbogen Nozzle (neu)

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_printing
    SET_LED_EFFECT EFFECT=disco_printing
    set_nozzle_leds_on

# Heating states
[gcode_macro status_heating_nozzle]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating_nozzle
    SET_LED_EFFECT EFFECT=sb_nozzle_heating_nozzle
    SET_LED_EFFECT EFFECT=disco_heating_nozzle

[gcode_macro status_heating_bed]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_heating_bed
    SET_LED_EFFECT EFFECT=sb_nozzle_heating_bed
    SET_LED_EFFECT EFFECT=disco_heating_bed

[gcode_macro status_cooling_nozzle]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling_nozzle
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling_nozzle
    SET_LED_EFFECT EFFECT=disco_cooling_nozzle

[gcode_macro status_cooling_bed]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling_bed
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling_bed
    SET_LED_EFFECT EFFECT=disco_cooling_bed

# Process states
[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_leveling
    SET_LED_EFFECT EFFECT=disco_leveling
    set_nozzle_leds_on

[gcode_macro status_homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_homing
    SET_LED_EFFECT EFFECT=disco_homing
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    SET_LED_EFFECT EFFECT=disco_cleaning
    set_nozzle_leds_on

[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_meshing
    SET_LED_EFFECT EFFECT=disco_meshing
    set_nozzle_leds_on

[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_calibrating_z
    SET_LED_EFFECT EFFECT=disco_calibrating_z
    set_nozzle_leds_on