# macros/lighting_control.cfg

[include ../components/case_lights.cfg]
[include ../components/stealthburner_leds.cfg]
[include ../components/disco_on_a_stick.cfg]

################
## LED Macros ##
################

# Internal helper — activates sb_logo_<state>, sb_nozzle_<state> and disco_<state>
[gcode_macro _SET_STATUS]
gcode:
    {% set state = params.STATE|lower %}
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT={"sb_logo_" + state}
    SET_LED_EFFECT EFFECT={"sb_nozzle_" + state}
    SET_LED_EFFECT EFFECT={"disco_" + state}

# Control SB LEDs directly
[gcode_macro set_logo_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds STOP=1

[gcode_macro set_logo_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_logo_leds

[gcode_macro set_nozzle_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds

[gcode_macro set_nozzle_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_nozzle_leds STOP=1

# General printer state
[gcode_macro STATUS_OFF]
gcode:
    STOP_LED_EFFECTS

[gcode_macro STATUS_READY]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_ready
    SET_LED_EFFECT EFFECT=disco_ready

# All other states use _SET_STATUS
[gcode_macro STATUS_PRINTING]
gcode:
    _SET_STATUS STATE=printing

[gcode_macro STATUS_HEATING_NOZZLE]
gcode:
    _SET_STATUS STATE=heating_nozzle

[gcode_macro STATUS_HEATING_BED]
gcode:
    _SET_STATUS STATE=heating_bed

[gcode_macro STATUS_HEATSOAKING]
gcode:
    _SET_STATUS STATE=heatsoaking

[gcode_macro STATUS_HOMING]
gcode:
    _SET_STATUS STATE=homing

[gcode_macro STATUS_CLEANING]
gcode:
    _SET_STATUS STATE=cleaning

[gcode_macro STATUS_LEVELING]
gcode:
    _SET_STATUS STATE=leveling

[gcode_macro STATUS_MESHING]
gcode:
    _SET_STATUS STATE=meshing
