# https://docs.vorondesign.com/community/macros/

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro Z_TILT_ADJUST]
rename_existing: BASE_Z_TILT_ADJUST
gcode:
    BASE_Z_TILT_ADJUST HORIZONTAL_MOVE_Z=10 RETRY_TOLERANCE=0.5
    BASE_Z_TILT_ADJUST HORIZONTAL_MOVE_Z=2

[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro CG28XY]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes %}
        G28 X Y
    {% endif %}

[gcode_macro CG28Z]
gcode:
    {% if "z" not in printer.toolhead.homed_axes %}
        G28 Z
    {% endif %}

[gcode_macro TEST_SPEED_FAST]
gcode:
    {% set v = printer["gcode_macro _VARIABLES"] %}
    G28 X Y
    GET_POSITION
    G1 X0 Y0           F{v.travel_xy * 60}
    G1 X{v.bed_x_max} Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X0 Y0           F{v.travel_xy * 60}
    G1 X{v.bed_x_max} Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X0 Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X{v.bed_x_max} Y0 F{v.travel_xy * 60}
    G1 X0 Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X{v.bed_x_max} Y0 F{v.travel_xy * 60}
    G1 X0 Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X0 Y0           F{v.travel_xy * 60}
    G1 X{v.bed_x_max} Y0 F{v.travel_xy * 60}
    G1 X{v.bed_x_max} Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X0 Y{v.bed_y_max} F{v.travel_xy * 60}
    G1 X0 Y0           F{v.travel_xy * 60}
    G28 X Y
    GET_POSITION

[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: BASE_SET_PRINT_STATS_INFO
gcode:
    BASE_SET_PRINT_STATS_INFO { rawparams }
    {% if params.CURRENT_LAYER is defined %}
        SET_DISPLAY_TEXT MSG="Layer {params.CURRENT_LAYER} / {printer.print_stats.info.total_layer|default('?')}"
    {% endif %}

[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter = params.NAME|default('')|lower %}
    {% set out = [] %}
    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if filter in key1|lower or filter in key2|lower %}
                {% set dummy = out.append("printer.%s.%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {action_respond_info(out|join("\n"))}