# https://docs.vorondesign.com/community/macros/

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro Z_TILT_ADJUST]
rename_existing: BASE_Z_TILT_ADJUST
gcode:
    # Pass 1: Initial Coarse Leveling
    BASE_Z_TILT_ADJUST HORIZONTAL_MOVE_Z=10 RETRY_TOLERANCE=0.5
    # Pass 2: Fine Leveling and Accuracy
    BASE_Z_TILT_ADJUST HORIZONTAL_MOVE_Z=2

[gcode_macro _CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
        STATUS_HOMING
        G28
    {% endif %}

[gcode_macro _CG28XY]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes %}
        STATUS_HOMING
        G28 X Y
    {% endif %}

[gcode_macro _CG28Z]
gcode:
    {% if "z" not in printer.toolhead.homed_axes %}
        STATUS_HOMING
        G28 Z
    {% endif %}

[gcode_macro TEST_SPEED_FAST]
gcode:
    G28 X Y
    GET_POSITION
    G1 X0 Y0     F27000
    G1 X350 Y350 F27000
    G1 X0 Y0     F27000
    G1 X350 Y350 F27000
    G1 X0 Y350   F36000
    G1 X350 Y0   F27000
    G1 X0 Y350   F27000
    G1 X350 Y0   F27000
    G1 X0 Y350   F27000
    G1 X0 Y0     F36000
    G1 X350 Y0   F36000
    G1 X350 Y350 F36000
    G1 X0 Y350   F36000
    G1 X0 Y0     F36000
    G28 X Y
    GET_POSITION