[gcode_macro PARK]
description: Park toolhead safely away from print
gcode:
    {% set Z_HOP = params.Z_HOP|default(printer.toolhead.position.z)|float %}
    #{% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set act_y = printer.toolhead.position.y|float %}
    {% set x_park = 100 %}
    {% if act_z < (max_z - Z_HOP) %}
        {% set z_safe = Z_HOP %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL=9000
    G90 
    {% if act_y < 43  %} ; To void hitting the filametrix screw.
       G0 Y60 F24000
    {% endif %}
    {% if printer.toolhead.position.y > 293 and printer.toolhead.position.x != x_park %}
      G0 Y{y_park - 14} Z{z_safe} F24000
      G0 X{x_park}
      G0 Y{y_park}
    {% elif printer.toolhead.position.y != y_park and printer.toolhead.position.x != x_park %}
      G0 X{x_park} Y{y_park - 14} Z{z_safe} F24000
      G0 Y{y_park}
    {% endif %} 