# https://www.printables.com/model/957985-voron-24-bamboo-a1-brush-bucket

[gcode_macro PARK]
description: Park toolhead safely away from print
gcode:
    {% set speeds = printer["gcode_macro _SPEEDS"] %}
    {% set Z_HOP = params.Z_HOP|default(speeds.z_hop)|float %}
    {% set y_park = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set act_y = printer.toolhead.position.y|float %}
    {% set x_park = 90 %}

    {% if act_z < (max_z - Z_HOP) %}
        {% set z_safe = act_z + Z_HOP %}
    {% else %}
        {% set z_safe = max_z %}
    {% endif %}

    SET_VELOCITY_LIMIT ACCEL={speeds.accel_travel}
    G90

    {% if act_y < 43 %}
        G0 Y60 F{speeds.travel_xy * 60}                        # Avoid Filametrix screw
    {% endif %}

    {% if printer.toolhead.position.y > 293 and printer.toolhead.position.x != x_park %}
        G0 Y{y_park - 14} Z{z_safe} F{speeds.travel_xy * 60}
        G0 X{x_park}
        G0 Y{y_park}
    {% elif printer.toolhead.position.y != y_park and printer.toolhead.position.x != x_park %}
        G0 X{x_park} Y{y_park - 14} Z{z_safe} F{speeds.travel_xy * 60}
        G0 Y{y_park}
    {% endif %}