# https://www.printables.com/model/957985-voron-24-bamboo-a1-brush-bucket

[gcode_macro PARK]
description: Park toolhead safely away from print
gcode:
    {% set v = printer["gcode_macro _VARIABLES"] %}
    {% set Z_HOP = params.Z_HOP|default(v.park_z_hop)|float %}
    {% set y_park = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set act_y = printer.toolhead.position.y|float %}

    CG28    

    {% if act_z < (max_z - Z_HOP) %}
        {% set z_safe = act_z + Z_HOP %}
    {% else %}
        {% set z_safe = max_z %}
    {% endif %}

    SET_VELOCITY_LIMIT ACCEL={v.accel_travel}
    G90

    {% if act_y < v.filametrix_y_min %}
        G0 Y{v.filametrix_y_safe} F{v.travel_xy * 60}          # Avoid Filametrix screw
    {% endif %}

    {% if printer.toolhead.position.y > v.safe_approach_y and printer.toolhead.position.x != v.park_x %}
        G0 Y{y_park - 14} Z{z_safe} F{v.travel_xy * 60}
        G0 X{v.park_x}
        G0 Y{y_park}
    {% elif printer.toolhead.position.y != y_park and printer.toolhead.position.x != v.park_x %}
        G0 X{v.park_x} Y{y_park - 14} Z{z_safe} F{v.travel_xy * 60}
        G0 Y{y_park}
    {% endif %}