[include ../KAMP_Settings.cfg]
[include misc.cfg]
[include clean_nozzle.cfg]
[include lighting_control.cfg]

[gcode_macro PRINT_START]
gcode:
    CASE_LIGHT_ON
    SET_DISPLAY_TEXT MSG="Starting Print"
    G90                                                         # Absolute positioning
    M83                                                         # Extruder relative mode

    # Fetch parameters from slicer
    {% set BED_TEMP = params.BED|int %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|int %}
    {% set PROBE_TEMP = params.PROBE|default(150)|int %}
    {% set X_CENTER = printer.toolhead.axis_maximum.x / 2 %}
    {% set Y_CENTER = printer.toolhead.axis_maximum.y / 2 %}

    # Home all axes
    STATUS_HOMING
    SET_DISPLAY_TEXT MSG="Homing"
    G28
    G1 Z10 F600                                                 # Safe Z height before XY move
    G1 X{X_CENTER} Y{Y_CENTER} F9000

    # Heat bed and heatsoak
    STATUS_HEATING_BED
    SET_DISPLAY_TEXT MSG="Bed: {BED_TEMP}c"
    {% if BED_TEMP > 90 %}
        SET_FAN_SPEED FAN=nevermore SPEED=1                     # Turn on nevermore for high temp prints
        M190 S{BED_TEMP}                                        # Wait for bed temp
        SET_DISPLAY_TEXT MSG="Heatsoak for 5 min"
        G4 P300000                                              # 5 min heatsoak
    {% else %}
        M190 S{BED_TEMP}                                        # Wait for bed temp
        SET_DISPLAY_TEXT MSG="Heatsoak for 1 min"
        G4 P60000                                               # 1 min heatsoak
    {% endif %}

    # Heat nozzle to probe temp
    STATUS_HEATING_NOZZLE
    SET_DISPLAY_TEXT MSG="Hotend: {PROBE_TEMP}c"
    M109 S{PROBE_TEMP}

    # Initial nozzle clean and Z home
    STATUS_CLEANING
    SET_DISPLAY_TEXT MSG="Cleaning Nozzle"
    CLEAN_NOZZLE
    G28 Z

    # Z Tilt
    STATUS_CALIBRATING_Z
    SET_DISPLAY_TEXT MSG="Z Tilt Calibration"
    Z_TILT_ADJUST
    G28 Z                                                       # Re-home Z after tilt adjust

    # Bed mesh
    STATUS_MESHING
    SET_DISPLAY_TEXT MSG="Bed Mesh Calibration"
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

    # Heat nozzle to print temp
    STATUS_HEATING_NOZZLE
    SET_DISPLAY_TEXT MSG="Hotend: {EXTRUDER_TEMP}c"
    M107                                                        # Turn off part cooling fan
    M109 S{EXTRUDER_TEMP}

    # Final nozzle clean and purge
    STATUS_CLEANING
    SET_DISPLAY_TEXT MSG="Cleaning Nozzle"
    CLEAN_NOZZLE

    STATUS_PRINTING
    SET_DISPLAY_TEXT MSG="Purge Line"
    LINE_PURGE

    SET_DISPLAY_TEXT MSG="Printing"