[gcode_macro PRINT_END]
gcode:
    {% set v = printer["gcode_macro _VARIABLES"] %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                                                        # Wait for buffer to clear
    G92 E0                                                      # Zero the extruder
    G1 E-10.0 F3600                                             # Retract filament
    G92 E0

    G91                                                         # Relative positioning
    G0 Z5.00 X20.0 Y20.0 F{v.travel_xy * 60}                  # Move nozzle to remove stringing
    G90                                                         # Absolute positioning
    # G0 X{v.bed_x_center} Y{printer.toolhead.axis_maximum.y - 10} F{v.travel_xy * 60}   # Park at rear center
    PARK

    TURN_OFF_HEATERS
    M107
    BED_MESH_CLEAR
    M84

    SET_DISPLAY_TEXT MSG="Finished Printing"

    CASE_LIGHT_OFF
    SET_FAN_SPEED FAN=nevermore SPEED=0
    STATUS_PART_READY

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0