#####################################################################
#   A better print_start macro for v2/trident
#####################################################################

[include ../KAMP_Settings.cfg]
[include misc.cfg]
[include clean_nozzle.cfg]
[include lighting_control.cfg]

[gcode_macro PRINT_START]
gcode:
  CASE_LIGHT_ON
  # STATUS_BUSY
  SET_DISPLAY_TEXT MSG="Starting Print"
  G90 # Absolute position
  M83 ; extruder relative mode
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set BED_TEMP = params.BED|int %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|int %}
  # {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set PROBE_TEMP = params.PROBE|int + 15 %}
  {% set X_CENTER = printer.toolhead.axis_maximum.x / 2 %}
  {% set Y_CENTER = printer.toolhead.axis_maximum.y / 2 %}

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  STATUS_HOMING
  SET_DISPLAY_TEXT MSG="Homing"
  G28 X Y
  G1 X{X_CENTER} Y{Y_CENTER} F9000

  STATUS_HEATING_BED
  SET_DISPLAY_TEXT MSG="Bed: {BED_TEMP}c"           # Display info on display
  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if BED_TEMP > 90 %}
    # M106 S255                                           # Turn on the PT-fan
    ##  Uncomment if you have a Nevermore.
    SET_FAN_SPEED FAN=nevermore SPEED=1                      # Turn on the nevermore
    # SMART_PARK # G1 X{X_CENTER} Y{Y_CENTER} Z15 F9000                    # Go to center of the bed
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak for 5 min"  # Display info on display
    G4 P300000
    # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    # SMART_PARK #G1 X{X_CENTER} Y{Y_CENTER} Z15 F9000                    # Go to center of the bed
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak for 1 min"               # Display info on display
    G4 P60000                                          # Wait 1 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  STATUS_HEATING_NOZZLE
  SET_DISPLAY_TEXT MSG="Hotend: {PROBE_TEMP} C"                   # Display info on display
  M109 S{PROBE_TEMP}                                            # Heat hotend to 150c

  STATUS_CLEANING
  SET_DISPLAY_TEXT MSG="Cleaning Nozzle"                   # Display info on display
  G28 Z
  CLEAN_NOZZLE

  STATUS_CALIBRATING_Z
  SET_DISPLAY_TEXT MSG="Z Tilt Calibration"                      # Display info on display
  # PROBE_ACCURACY
  Z_TILT_ADJUST                                        # Level the printer via Z_TILT_ADJUST
  G28 Z                                                # Home Z again after Z_TILT_ADJUST 
  
  STATUS_MESHING
  SET_DISPLAY_TEXT MSG="Bed Mesh Calibration"                      # Display info on display
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)
  BED_MESH_CALIBRATE                                   # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  # Heat up the hotend up to target via data from slicer
  STATUS_HEATING_NOZZLE
  SET_DISPLAY_TEXT MSG="Hotend: {EXTRUDER_TEMP} C"     # Display info on display
  # SMART_PARK #G1 X{X_CENTER} Y{Y_CENTER} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{EXTRUDER_TEMP}                               # Heat the hotend to set temp

  STATUS_CLEANING
  SET_DISPLAY_TEXT MSG="Cleaning Nozzle"                   # Display info on display
  CLEAN_NOZZLE

  STATUS_PRINTING
  SET_DISPLAY_TEXT MSG="Purge Line"
  LINE_PURGE
  SET_DISPLAY_TEXT MSG="Printing"
