[output_pin caselight]
#Chamber Lighting - HE3 Connector
pin: PA3
pwm:true
shutdown_value: 0
cycle_time: 0.01

##### LED Bar #####
[gcode_macro CASE_LIGHT_ON]
gcode:
    SET_PIN PIN=caselight VALUE=1.0

[gcode_macro CASE_LIGHT_OFF]
gcode:
    SET_PIN PIN=caselight VALUE=0.0

[gcode_macro CASE_LIGHT_TOGGLE]
variable_toggle: 0
gcode:
    {% if toggle == 0 %}
      SET_PIN PIN=caselight VALUE=1.0
      SET_GCODE_VARIABLE MACRO=LIGHT_TOGGLE VARIABLE=toggle VALUE=1
    {% else %}
      SET_PIN PIN=caselight VALUE=0.0
      SET_GCODE_VARIABLE MACRO=LIGHT_TOGGLE VARIABLE=toggle VALUE=0
    {% endif %}
