# components/fans.cfg

#####################################################################
# Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
kick_start_time: 0.5
heater_temp: 40.0
max_power: 1.0

[fan_generic nevermore]
pin: PF7
kick_start_time: 0.5
shutdown_speed: 0.0
max_power: 1.0

[fan_generic exhaust_fan]
pin: PF9
kick_start_time: 0.5
shutdown_speed: 0.0
max_power: 1.0

[heater_fan controller_fan]
pin: PA6
heater: extruder
kick_start_time: 0.5
heater_temp: 80
fan_speed: 1.0

[heater_fan stepper_driver_fan]
pin: PA4
heater: extruder
kick_start_time: 0.5
heater_temp: 80
fan_speed: 1.0

[fan_generic part_cooling]
pin: EBBCan:gpio13
kick_start_time: 0.5
off_below: 0.05
max_power: 1.0

[fan_generic auxiliary]
pin: PA2
kick_start_time: 0.5
max_power: 1.0
shutdown_speed: 0.0

[gcode_macro M106]
description: Set fan speed (OrcaSlicer compatible)
gcode:
    {% set fan_map = {0: "part_cooling", 2: "auxiliary"} %}
    {% set p = params.P|int if 'P' in params else 0 %}
    {% set fan = fan_map[p] if p in fan_map else fan_map[0] %}
    {% set speed = (params.S|float / 255 if 'S' in params else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
description: Turn off fans - no P = all, P# = specific fan
gcode:
    {% set fan_map = {0: "part_cooling", 2: "auxiliary"} %}
    {% if 'P' in params %}
        {% set p = params.P|int %}
        {% if p in fan_map %}
            SET_FAN_SPEED FAN={fan_map[p]} SPEED=0
        {% endif %}
    {% else %}
        {% for f in fan_map.values() %}
            SET_FAN_SPEED FAN={f} SPEED=0
        {% endfor %}
    {% endif %}